<div class="forumbg row">
    <div class="round row">
        <p class="right"><a ng-click="toggle()">New Topic</a></p>
        <div class="col s12" id="error"></div>
        <div ng-switch="toggleForm">
            <div ng-switch-when="On">
                <form class="createTopic">
                    <input type="text" name="board" placeholder="Board name" />
                    <input type="text" name="desc" placeholder="Description" />
                    <input type="submit" name="create" class="buttoncolor" value="Create" />
                </form>
                <script>$('[name=board]').focus();</script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4 list-inner">Topic</div>
        <div class="col s2 views">Threads</div>
        <div class="col s2 views">Posts</div>
        <div class="col s4 list-inner">Last Post</div>
    </div>
    <div class="row" ng-repeat="board in boards">
        <div class="col s4">
            <div class="row"><p class="homesubject"><a href="/topic/0">{{board.name}}</a></p>
                <p class="homesmallsubject">{{board.desc}}</p>
            </div>
        </div>
        <div class="col s2 center">0</div>
        <div class="col s2 center">0</div>
        <div class="col s4">
            <div class="row">
                <p class="subject"><a href="/posts/0/0">Testing one two three</a></p>
                <p class="homesmallsubject">by <a class="username" href="/profile/username">username</a> 06/17/1986 1:00</p>
            </div>
        </div>
    </div>
</div>