<div ng-controller="LoginForm">
    <div ng-switch="loginForm">
        <div id="error"></div>
        <form class="loginForm">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <div ng-switch-when="register">
            <input type="password" name="password2" placeholder="retype password" />
            <input ng-click="register()" type="submit" class="buttoncolor" value="register" />
            <br><a ng-click="setForm('login')">login</a>
            </div>
            <div ng-switch-when="login">
                <input type="submit" class="buttoncolor" name="submit" value="login" />
                <br><a ng-click="setForm('register')">register</a>
            </div>
        </form>
    </div>
</div>